In [28]:
# !pip install scipy
import pandas as pd
from scipy.stats import spearmanr, pearsonr, chi2_contingency
import numpy as np
import matplotlib.pyplot as plt

In [29]:
data = pd.read_csv("../data/application_train_vf.csv", index_col=0)

In [30]:
data.shape

(306107, 123)

## drop NaN or remplace them by mean

In [31]:
print("avant traitement")
print("data shape", data.shape)
for i in data.select_dtypes(include=['float64', 'int64']).columns:
    if data[i].isna().sum() / len(data[i]) * 100 > 30:
        print(i, data[i].isna().sum() / len(data[i]) * 100)
        data.drop(columns = i, axis = 1, inplace= True)
    else : data[i].fillna(data[i].mean(), inplace=True)

print("après traitement")
print("data shape", data.shape)
print(data.select_dtypes(include=['float64', 'int64']).isna().sum()/data.shape[0]*100)

avant traitement
data shape (306107, 123)
OWN_CAR_AGE 65.97758300202217

/var/folders/cs/hh3_26_57sx7l8sdk574zbdh0000gn/T/ipykernel_64458/3897743809.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else : data[i].fillna(data[i].mean(), inplace=True)
/var/folders/cs/hh3_26_57sx7l8sdk574zbdh0000gn/T/ipykernel_64458/3897743809.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else : data[i].fillna(data[i].mean(), inplace=True)

EXT_SOURCE_1 56.37375166200054
APARTMENTS_AVG 50.71788622932504

/var/folders/cs/hh3_26_57sx7l8sdk574zbdh0000gn/T/ipykernel_64458/3897743809.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else : data[i].fillna(data[i].mean(), inplace=True)

BASEMENTAREA_AVG 58.49327196045827
YEARS_BEGINEXPLUATATION_AVG 48.75354042867364
YEARS_BUILD_AVG 66.4741413950024
COMMONAREA_AVG 69.85498534826058
ELEVATORS_AVG 53.267974923801155
ENTRANCES_AVG 50.31802604971464
FLOORSMAX_AVG 49.73064974012355
FLOORSMIN_AVG 67.82562960010715
LANDAREA_AVG 59.35146860411555
LIVINGAPARTMENTS_AVG 68.33492863606516
LIVINGAREA_AVG 50.16677174974764
NONLIVINGAPARTMENTS_AVG 69.41232967557096
NONLIVINGAREA_AVG 55.15326340135965
APARTMENTS_MODE 50.71788622932504
BASEMENTAREA_MODE 58.49327196045827
YEARS_BEGINEXPLUATATION_MODE 48.75354042867364
YEARS_BUILD_MODE 66.4741413950024
COMMONAREA_MODE 69.85498534826058
ELEVATORS_MODE 53.267974923801155
ENTRANCES_MODE 50.31802604971464
FLOORSMAX_MODE 49.73064974012355
FLOORSMIN_MODE 67.82562960010715
LANDAREA_MODE 59.35146860411555
LIVINGAPARTMENTS_MODE 68.33492863606516
LIVINGAREA_MODE 50.16677174974764
NONLIVINGAPARTMENTS_MODE 69.41232967557096
NONLIVINGAREA_MODE 55.15326340135965
APARTMENTS_MEDI 50.71788622932504
BASEMENTAREA_MEDI 58.49327196045827
YEARS_BEGINEXPLUATATION_MEDI 48.75354042867364
YEARS_BUILD_MEDI 66.4741413950024
COMMONAREA_MEDI 69.85498534826058
ELEVATORS_MEDI 53.267974923801155
ENTRANCES_MEDI 50.31802604971464
FLOORSMAX_MEDI 49.73064974012355
FLOORSMIN_MEDI 67.82562960010715
LANDAREA_MEDI 59.35146860411555
LIVINGAPARTMENTS_MEDI 68.33492863606516
LIVINGAREA_MEDI 50.16677174974764
NONLIVINGAPARTMENTS_MEDI 69.41232967557096
NONLIVINGAREA_MEDI 55.15326340135965
TOTALAREA_MODE 48.2403211948763
après traitement
data shape (306107, 78)
SK_ID_CURR                    0.0
TARGET                        0.0
CNT_CHILDREN                  0.0
AMT_INCOME_TOTAL              0.0
AMT_CREDIT                    0.0
                             ...
AMT_REQ_CREDIT_BUREAU_DAY     0.0
AMT_REQ_CREDIT_BUREAU_WEEK    0.0
AMT_REQ_CREDIT_BUREAU_MON     0.0
AMT_REQ_CREDIT_BUREAU_QRT     0.0
AMT_REQ_CREDIT_BUREAU_YEAR    0.0
Length: 61, dtype: float64

/var/folders/cs/hh3_26_57sx7l8sdk574zbdh0000gn/T/ipykernel_64458/3897743809.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  else : data[i].fillna(data[i].mean(), inplace=True)

In [32]:
print(data.shape)

(306107, 78)

In [33]:
data["date_mensuelle"] = pd.to_datetime(data["date_mensuelle"])

In [34]:

categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
print('avant traitement')
print("shape data :", data.shape)
for i in categorical_cols:
    if data[i].isna().sum() / len(data[i]) * 100 > 30:
        print(i, data[i].isna().sum() / len(data[i]) * 100)
        data.drop(i, axis=1, inplace=True)
    else:
        data[i].fillna(data[i].mode()[0], inplace = True)
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()
print("après traitement")
print("shape data", data.shape)
print(data[categorical_cols].isna().sum()/data.shape[0]*100)

avant traitement
shape data : (306107, 78)

/var/folders/cs/hh3_26_57sx7l8sdk574zbdh0000gn/T/ipykernel_64458/2991378567.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[i].fillna(data[i].mode()[0], inplace = True)

OCCUPATION_TYPE 31.377590189051542

/var/folders/cs/hh3_26_57sx7l8sdk574zbdh0000gn/T/ipykernel_64458/2991378567.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[i].fillna(data[i].mode()[0], inplace = True)

FONDKAPREMONT_MODE 68.36367675355349
HOUSETYPE_MODE 50.14357724586501
WALLSMATERIAL_MODE 50.81327771008177
EMERGENCYSTATE_MODE 47.368403858781406
après traitement
shape data (306107, 73)
NAME_CONTRACT_TYPE            0.0
CODE_GENDER                   0.0
FLAG_OWN_CAR                  0.0
FLAG_OWN_REALTY               0.0
NAME_TYPE_SUITE               0.0
NAME_INCOME_TYPE              0.0
NAME_EDUCATION_TYPE           0.0
NAME_FAMILY_STATUS            0.0
NAME_HOUSING_TYPE             0.0
WEEKDAY_APPR_PROCESS_START    0.0
ORGANIZATION_TYPE             0.0
dtype: float64

In [35]:
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()

if 'TARGET' in numerical_cols:
    numerical_cols.remove('TARGET')


numerical_cols, categorical_cols

(['SK_ID_CURR',
  'CNT_CHILDREN',
  'AMT_INCOME_TOTAL',
  'AMT_CREDIT',
  'AMT_ANNUITY',
  'AMT_GOODS_PRICE',
  'REGION_POPULATION_RELATIVE',
  'DAYS_BIRTH',
  'DAYS_EMPLOYED',
  'DAYS_REGISTRATION',
  'DAYS_ID_PUBLISH',
  'FLAG_MOBIL',
  'FLAG_EMP_PHONE',
  'FLAG_WORK_PHONE',
  'FLAG_CONT_MOBILE',
  'FLAG_PHONE',
  'FLAG_EMAIL',
  'CNT_FAM_MEMBERS',
  'REGION_RATING_CLIENT',
  'REGION_RATING_CLIENT_W_CITY',
  'HOUR_APPR_PROCESS_START',
  'REG_REGION_NOT_LIVE_REGION',
  'REG_REGION_NOT_WORK_REGION',
  'LIVE_REGION_NOT_WORK_REGION',
  'REG_CITY_NOT_LIVE_CITY',
  'REG_CITY_NOT_WORK_CITY',
  'LIVE_CITY_NOT_WORK_CITY',
  'EXT_SOURCE_2',
  'EXT_SOURCE_3',
  'OBS_30_CNT_SOCIAL_CIRCLE',
  'DEF_30_CNT_SOCIAL_CIRCLE',
  'OBS_60_CNT_SOCIAL_CIRCLE',
  'DEF_60_CNT_SOCIAL_CIRCLE',
  'DAYS_LAST_PHONE_CHANGE',
  'FLAG_DOCUMENT_2',
  'FLAG_DOCUMENT_3',
  'FLAG_DOCUMENT_4',
  'FLAG_DOCUMENT_5',
  'FLAG_DOCUMENT_6',
  'FLAG_DOCUMENT_7',
  'FLAG_DOCUMENT_8',
  'FLAG_DOCUMENT_9',
  'FLAG_DOCUMENT_10',
  'FLAG_DOCUMENT_11',
  'FLAG_DOCUMENT_12',
  'FLAG_DOCUMENT_13',
  'FLAG_DOCUMENT_14',
  'FLAG_DOCUMENT_15',
  'FLAG_DOCUMENT_16',
  'FLAG_DOCUMENT_17',
  'FLAG_DOCUMENT_18',
  'FLAG_DOCUMENT_19',
  'FLAG_DOCUMENT_20',
  'FLAG_DOCUMENT_21',
  'AMT_REQ_CREDIT_BUREAU_HOUR',
  'AMT_REQ_CREDIT_BUREAU_DAY',
  'AMT_REQ_CREDIT_BUREAU_WEEK',
  'AMT_REQ_CREDIT_BUREAU_MON',
  'AMT_REQ_CREDIT_BUREAU_QRT',
  'AMT_REQ_CREDIT_BUREAU_YEAR'],
 ['NAME_CONTRACT_TYPE',
  'CODE_GENDER',
  'FLAG_OWN_CAR',
  'FLAG_OWN_REALTY',
  'NAME_TYPE_SUITE',
  'NAME_INCOME_TYPE',
  'NAME_EDUCATION_TYPE',
  'NAME_FAMILY_STATUS',
  'NAME_HOUSING_TYPE',
  'WEEKDAY_APPR_PROCESS_START',
  'ORGANIZATION_TYPE'])

In [36]:
len(numerical_cols)

60

In [37]:
corr, p_value = spearmanr(data['AMT_INCOME_TOTAL'], data['TARGET'])
contingency_table = pd.crosstab(data['NAME_INCOME_TYPE'], data['TARGET'])

chi2, p, dof, expected = chi2_contingency(contingency_table)

In [38]:
p

1.0953319884730477e-254

In [39]:
dates = data.select_dtypes(include=['datetime64[ns]']).columns.tolist()
numeric_columns = data.select_dtypes(include=[np.number]).columns.tolist()
categorical_columns = data.select_dtypes(exclude=[np.number, 'datetime64[ns]']).columns.tolist()

numeric_columns_specified = [col for col in numeric_columns ]
categorical_columns_specified = [col for col in categorical_columns ]

significant_numeric_vars = []
for col in numeric_columns_specified:
    corr, p_value = spearmanr(data[col], data['TARGET'])
    if p_value <= 0.05:
        significant_numeric_vars.append(col)

significant_categorical_vars = []
for col in categorical_columns_specified:
    contingency_table = pd.crosstab(data[col], data['TARGET'])
    chi2, p, dof, expected = chi2_contingency(contingency_table)
    if p <= 0.05:
        significant_categorical_vars.append(col)

significant_numeric_vars, significant_categorical_vars

(['TARGET',
  'CNT_CHILDREN',
  'AMT_INCOME_TOTAL',
  'AMT_CREDIT',
  'AMT_GOODS_PRICE',
  'REGION_POPULATION_RELATIVE',
  'DAYS_BIRTH',
  'DAYS_EMPLOYED',
  'DAYS_REGISTRATION',
  'DAYS_ID_PUBLISH',
  'FLAG_EMP_PHONE',
  'FLAG_WORK_PHONE',
  'FLAG_PHONE',
  'CNT_FAM_MEMBERS',
  'REGION_RATING_CLIENT',
  'REGION_RATING_CLIENT_W_CITY',
  'HOUR_APPR_PROCESS_START',
  'REG_REGION_NOT_LIVE_REGION',
  'REG_REGION_NOT_WORK_REGION',
  'REG_CITY_NOT_LIVE_CITY',
  'REG_CITY_NOT_WORK_CITY',
  'LIVE_CITY_NOT_WORK_CITY',
  'EXT_SOURCE_2',
  'EXT_SOURCE_3',
  'OBS_30_CNT_SOCIAL_CIRCLE',
  'DEF_30_CNT_SOCIAL_CIRCLE',
  'OBS_60_CNT_SOCIAL_CIRCLE',
  'DEF_60_CNT_SOCIAL_CIRCLE',
  'DAYS_LAST_PHONE_CHANGE',
  'FLAG_DOCUMENT_2',
  'FLAG_DOCUMENT_3',
  'FLAG_DOCUMENT_6',
  'FLAG_DOCUMENT_8',
  'FLAG_DOCUMENT_9',
  'FLAG_DOCUMENT_11',
  'FLAG_DOCUMENT_13',
  'FLAG_DOCUMENT_14',
  'FLAG_DOCUMENT_15',
  'FLAG_DOCUMENT_16',
  'FLAG_DOCUMENT_18',
  'AMT_REQ_CREDIT_BUREAU_HOUR',
  'AMT_REQ_CREDIT_BUREAU_DAY',
  'AMT_REQ_CREDIT_BUREAU_WEEK',
  'AMT_REQ_CREDIT_BUREAU_MON',
  'AMT_REQ_CREDIT_BUREAU_QRT',
  'AMT_REQ_CREDIT_BUREAU_YEAR'],
 ['NAME_CONTRACT_TYPE',
  'CODE_GENDER',
  'FLAG_OWN_CAR',
  'FLAG_OWN_REALTY',
  'NAME_TYPE_SUITE',
  'NAME_INCOME_TYPE',
  'NAME_EDUCATION_TYPE',
  'NAME_FAMILY_STATUS',
  'NAME_HOUSING_TYPE',
  'WEEKDAY_APPR_PROCESS_START',
  'ORGANIZATION_TYPE'])

In [40]:
len(significant_numeric_vars)

46

In [41]:
cols_to_keep = significant_numeric_vars + significant_categorical_vars + dates

In [42]:
data = data[cols_to_keep]

In [43]:
data.shape

(306107, 58)

In [44]:
data.to_csv("../data/application_train_vf_after_test_stat.csv")